# Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes Virtuais
venv/
.venv/
env/

# IDEs e Sistema
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs e Dados Temporários
*.log
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

# Git e Docker
.git
.gitignore
Dockerfile
.dockerignore

# Segredos
.env
*.pem
*.key
